@font-face {
  font-family: "iconfont"; /* Project id 4759357 */
  src: url('iconfont.woff2?t=1732547662855') format('woff2'),
       url('iconfont.woff?t=1732547662855') format('woff'),
       url('iconfont.ttf?t=1732547662855') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhedie-zhankai:before {
  content: "\e717";
}

.icon-zhedie-shouqi:before {
  content: "\e718";
}

